<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Keep framework logs visible while suppressing noisy dependency DEBUG output -->
    <logger name="com.xiaoyu.rpc" level="INFO"/>
    <logger name="com.alibaba.nacos" level="WARN"/>
    <logger name="com.alibaba.nacos.shaded.io.grpc" level="WARN"/>
    <logger name="com.alibaba.nacos.shaded.io.grpc.netty" level="WARN"/>
    <logger name="io.grpc" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
